
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.options{
    margin: 40px;
    margin-top: 43px;
    font-size: 20px;
    font-size: 20px;
    gap: 60px;
}
nav{
    color: rebeccapurple;
    font-weight: 500;

}#enter li{
    background-color: rebeccapurple;
    border-radius: 5px;
    padding: 5px 10px;

}.logo{
    margin-left: 40px;
}
.nows{
    color: rebeccapurple;
    text-decoration: none;
    font-weight: 900;
}
nav img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: -1px;
    border: 5px solid rebeccapurple;
}
nav p{
    font-size: 30px;
    font-weight: 900;
    margin-top: 32px;
    font-family: poppins;
    margin-left: 20px;

}nav div,nav div img{
    margin-bottom: 5px;
}
.main-deal{
    margin: 59px;
    margin-left: 10vw;
    font-size: 45px;
    margin-left: 106px;
}.main-deal .desc{
    font-size: 25px;

}.imgs{
margin-left: 30vw;

}.imgs img{
    height: 500px;
    rotate: 12deg;
    margin-top: 53px;
    margin-right: 60px;
}.spant{
    font-size: 0.8vw;
}
.claim-deal{
    background-color: rebeccapurple;
    border-radius: 5px;
    padding: 5px 10px;
}
.packages{
    width: 100px;
    height: 600px;
    transition: 0.2s;
}.packages{
    width: 200px;
    height: 300px;
    position: absolute;
    right: 0;
    margin: 20px;
}.packages:hover{
    border-right: 12px solid  rgba(128, 128, 128, 0.032);   
    border-bottom: 12px solid   rgba(128, 128, 128, 0.032);   
    

}
.here{
    width: 300px;
    height: 300px;
    position: static;
}.value{
    margin-left: 10px;
}.desc2,.desc2 li{
    margin-top: 15px;
}.heres{
    position: absolute;
    left: 0;
}.small-large{
    margin: 20px 270px ;
    background-color: white;
}